<section>
  <div class="box">
    <div class="form">
    <h2>Login</h2>
    <form>
      <div class="inputBx">
        <input type="text" placeholder="Username" name="username" [(ngModel)]="login.username">
        <img src="assets\img\user.png">
      </div>
      <div class="inputBx">
        <input type="password" placeholder="Password" name="password" [(ngModel)]="login.password">
        <img src="assets\img\lock.png">
      </div>
      <div class="inputBx">
        <input type="submit" (click)="olog()" value="Login">
      </div>
    </form>
    <p>Forget <a href="#">Password</a></p>
  </div>
  </div>
</section>
