<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">

    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo_content">
      <div class="logo">
        <div class="logo_name">Tunisie Telecom
            <img src="assets\img\logo-tt.svg" width="100px" height="100px" >

      </div>
      </div>
      <i (click)="function()" class='bx bx-menu' id="btn" ></i>


    </div>
    <ul class="nav_list">
      <li></li>
    <li>
      <a href="dashboard">
        <i><img src="assets\img\dashboard.png" ></i>
        <span class="links_name">Dashboard</span>
      </a>

      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a href="admin">
          <i><img src="assets\img\settings.png" ></i>
        <span class="links_name">Gestion d'utilisateur</span>
      </a>
      <span class="tooltip">User</span>
    </li>
    <li>
      <a href="index">
          <i><img src="assets\img\datacenter.png" ></i>
        <span class="links_name">DC Index</span>
      </a>
      <span class="tooltip">Index</span>
    </li>
    <li>
      <a href="inventories">
        <i><img src="assets\img\Rack.png" ></i>
        <span class="links_name">Rack</span>
      </a>
      <span class="tooltip">Rack</span>
    </li>
    <li>
      <a href="composantreseau">
       <i><img src="assets\img\global-network.png" ></i>
        <span class="links_name">Composant Réseaux</span>
      </a>
      <span class="tooltip">Network</span>
    </li>

    <li>
      <a href="#">
        <i><img src="assets\img\server.png" ></i>
        <span class="links_name">Tout Les Serveurs</span>
      </a>
      <span class="tooltip">Servers</span>
    </li>
    <li>
      <a href="network">
        <i><img src="assets\img\deal.png" ></i>
        <span class="links_name">Fournisseur</span>
      </a>
      <span class="tooltip">Fournisseur</span>
    </li>
    <li>
      <a href="#">
        <i><img src="assets\img\map.png" ></i>
        <span class="links_name">Mapping</span>
      </a>
      <span class="tooltip">Map</span>
    </li>
  </ul>
  <div class="profile_content">
    <div class="profile">
      <div class="profile_details">
        <!--<img src="profile.jpg" alt="">-->
        <div class="name_job">
          <div class="name">Prem Shahi</div>
          <div class="job">Web Designer</div>
        </div>
      </div>
      <i class='bx bx-log-out' id="log_out" (click)="logout()"></i>
    </div>
  </div>
  </div>



<div class="home_content">


  <br>
  <div style="padding : 40px;">

  <div class="card text-center" style="width: 80rem;padding : 10px" >

    <div class="card-header">
    <b> Ajouter un service</b>

    </div>
    <div class="card-body">
<div class="input-group mb-3">

  <input type="text" class="form-control" [(ngModel)]="servor.id" placeholder="ID" aria-label="ID" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">

  <input type="text" class="form-control" [(ngModel)]="servor.ip" placeholder="IP" aria-label="IP" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">

  <input type="text" class="form-control" [(ngModel)]="servor.name" placeholder="Nom" aria-label="Nom" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">

  <input type="text" class="form-control" [(ngModel)]="servor.type" placeholder="Type" aria-label="Type" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">

  <input type="text" class="form-control" [(ngModel)]="servor.hostname" placeholder="Hostname" aria-label="Hostname" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">

  <input type="text" class="form-control" [(ngModel)]="servor.model" placeholder="Model" aria-label="Model" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">

  <input type="text" class="form-control" [(ngModel)]="servor.os" placeholder="System d'exploitation" aria-label="System d'exploitation" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">

  <input type="text" class="form-control" [(ngModel)]="servor.ref_proc" placeholder="Processeur" aria-label="Processeur" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">

  <input type="text" class="form-control" [(ngModel)]="servor.cap_proc" placeholder="Capacté processeur" aria-label="Capacté processeur" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">

  <input type="text" class="form-control" [(ngModel)]="servor.username_ssh" placeholder="Nom du router" aria-label="Nom du router" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">

  <input type="text" class="form-control" [(ngModel)]="servor.password_ssh" placeholder="Mot de passe du router" aria-label="Mot de passe du router" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">

  <input type="text" class="form-control" [(ngModel)]="servor.consomation_mem" placeholder="Consommation Mémmoire" aria-label="Consommation Mémmoire" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">

  <input type="text" class="form-control" [(ngModel)]="servor.consomation_cpu" placeholder="consommation processeur" aria-label="consommation processeur" aria-describedby="basic-addon1">
</div>





      <button type="button" (click)="ajouter()" class="btn btn-primary btn-lg btn-block">Ajouter un Service</button>




                </div>
              </div>
            </div>
